    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                <div class="col-md-4">
                    <ul class="teammsg">
                        <li class="title">選擇投資項</li> 
                            <li>
                                <a href="cnprojecttwo">商業投資項目</a>
                            </li>
                            <li>
                                <a href="cnprojectthree">商業出售項目</a>
                            </li>
                            <li>
                                <a href="cnprojectfour">社區物業投資項目</a>
                            </li>
                            <li>
                                <a href="cnprojectfive">拉斯維加斯中心湖畔豪園</a>
                            </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="teammsg">
                        <li class="title">選擇投資項</li> 
                            <li>
                                <a href="cnprojectsix">國際學校專案</a>
                            </li>
                            <li>
                                <a href="cnprojectseven">科技實業投資項目</a>
                            </li>
                            <li>
                                <a href="cnprojecteight">國夏威夷投資項目</a>
                            </li>
                            <li>
                                <a href="cnprojectnine">專案定制項目</a>
                            </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="teammsg">
                        <li class="title">聯繫我們</li> 
                        <li>(702) 415-5000 (Office) 
                        </li>
                        <li>mti.jchan@gmail.com
                        </li>
                        <li>

                        6085 W Twain Ave,#203
                        <br>
                        Las Vegas, NV 89103
                        </li>
                    </ul>
                </div>
            </div>
            <div class="text-center copyrightmsg"> Copyright @ 2017 by MTI GROUP CORP.</div>
        </div>
    </footer>