
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="chinese">
                    <div class="navmsg">
                        <span id="brandID">MTI GROUP</span>
                        <br>
                        <span id="brandname">穩盈城市規劃國際機構</span>
                    </div>
                    <div class="responsivebrand">MIT</div>
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">   
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="index">English</a>
                    </li>
                    <li>
                        <a href="chinese">首頁</a>
                    </li>
                    <li>
                        <a href="cnabout">關於我們</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">選擇投資項目<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="cnprojectone">拉斯維加斯區域政府項目專案</a>
                            </li>
                            <li>
                                <a href="cnprojecttwo">商業投資項目</a>
                            </li>
                            <li>
                                <a href="cnprojectthree">商業出售項目</a>
                            </li>
                            <li>
                                <a href="cnprojectfour">社區物業投資項目</a>
                            </li>
                            <li>
                                <a href="cnprojectfive">拉斯維加斯中心湖畔豪園</a>
                            </li>
                            <li>
                                <a href="cnprojectsix">國際學校專案</a>
                            </li>
                            <li>
                                <a href="cnprojectseven">科技實業投資項目</a>
                            </li>
                            <li>
                                <a href="cnprojecteight">夏威夷投資項目</a>
                            </li>
                            <li>
                                <a href="cnprojectnine">專案定制項目</a> 
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">拉斯維加斯資訊<b class="caret"></b></a>
                        <ul class="dropdown-menu">
        //                    <li>
        //                        <a href="lasvegasnews">拉斯維加斯資訊 </a>
        //                    </li>
                            <li>
                                <a href="cnlasvegasetravel">2017年拉斯維加斯投資啟動景觀</a>
                            </li>
                            <li>
                                <a href="investinlv">選擇在美國拉斯維加斯投資</a>
                            </li>
                            <li>
                                <a href="cnlasvegaseducation">拉斯維加斯文化教育資訊</a>
                            </li>
                            <li>
                                <a href="cnlasvegashotel">拉斯維加斯（主要酒店）</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="cncontact">聯繫我們</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
