    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                <div class="col-md-4">
                    <ul class="teammsg">
                        <li class="title">PROJECTS</li>  
                        <li>PROJECT 1
                        </li>
                        <li>PROJECT 2
                        </li>
                        <li>PROJECT 3
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="teammsg">
                        <li class="title">CONTACT US</li> 
                        <li><strong>James Chan</li>
                        <li>(702) 515-5000 (Office) 
                        </li>
                        <li>

                        6085 W Twain Ave,#203
                        <br>
                        Las Vegas, NV 89103
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="teammsg">
                        <li class="title">CONTACT US</li> 
                        <li><strong>Annie Lo</li>
                        <li>(702) 415-5000 (Office) 
                        </li>
                        <li>mti88info@gmail.com
                        </li>
                        <li>

                        6085 W Twain Ave,#203
                        <br>
                        Las Vegas, NV 89103
                        </li>
                    </ul>
                </div>
                </div>
            </div>
            <div class="text-center copyrightmsg"> Copyright @ 2017 by MTI GROUP CORP.</div>
        </div>
    </footer>