<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/index">TeamTow</a>
                <a class="ace-icon glyphicon glyphicon-road"></a>
            </div>
            <div id="myModal" class="modal">
                <!-- Modal content -->
                <div class="modal-content">
                        <span class="close">&times;</span>
                            <iframe class="video" src="https://www.youtube.com/embed/EZ7qsvjjq4I" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="page-scroll">
                        <a class="btn btn-danger btn-lg" id="watch-demo" href="#demo-container"><i class="fa fa-play-circle"></i>  Watch Our Demo Video</a>
                    </li>
                    <li>
                        <a className="btn btn-success btn-md truckbtn" id="become-host" href="/trucks/signup-signin">Become a Tow Truck Provider</a>
                    </li>

                    <li>
                        <a className="page-scroll" href="/users/signup-signin"> User Sign In</a>
                    </li>
                    <li>
                        <a href="/users/sign-out"><span className="glyphicon glyphicon-log-in"></span> User Sign Out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
