
    <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
            <li data-target="#myCarousel" data-slide-to="5"></li>
        </ol>
 
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('img/997.jpg');"></div>
<!--                 <div class="carousel-caption" style="background-color: rgba(0,0,0,.5);"> 
                    <div class="slidetitle"> WELCOME TO LAS VEGAS</div>
                </div> -->
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('img/995.jpg');"></div>
<!--                 <div class="carousel-caption" style="background-color: rgba(0,0,0,.5);"> 
                    <h2>Caption 2</h2>
                </div> -->
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('img/993.jpg');"></div>
<!--                 <div class="carousel-caption" style="background-color: rgba(0,0,0,.5);">  
                    <h2>Caption 3</h2>
                </div> -->
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('img/992.jpg');"></div>
<!--                 <div class="carousel-caption" style="background-color: rgba(0,0,0,.5);">  
                    <h2>Caption 3</h2>
                </div> -->
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('img/990.jpg');"></div>
<!--                 <div class="carousel-caption" style="background-color: rgba(0,0,0,.5);">  
                    <h2>Caption 3</h2>
                </div> -->
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">INSIGHTS & VIEW POINTS / 美國拉斯維加斯區域簡介</h2> 
            </div>
            <div class="col-md-6">
                <p>About Us：
Metro Technologies Investment Group (MTI) is America’s business enterprise and a provider of professional services to partners in government and business investors both in local and international market. For more than 10 years in merging, MTI's news of investment divisions in Nevada has built up more sharp total solutions than any other U.S. Investment & Technical Solutions, provided a wide range of professional services through its Group Support, Integrated Metro Technologies Solutions, & Environmental, provided by governments in the regional area of Las Vegas and other private groups. Headquartered in Las Vegas Nevada employs 100 people operating both domestically and internationally.</p>

                <a href="services" class="btn btn-default">Learn More</a>
            </div>
            <div class="col-md-6">
<!--                 <img class="img-responsive" src="http://placehold.it/700x450" alt=""> -->
                <h4>在內華達營商的十大原因:</h4>

                <ul>
                    <li>1: 稅收環境:內華達州不徵收公司與個人所得稅、遺產稅、庫存稅。同時該州也不 徵收單一經營、特許經營、特定的無形財產稅。這種稅收體制賦予內華達州極大 的競爭優勢。在 2011 年 Tax Foundation 評比中，內華達州在全美各州營商稅收 環境中排名第四佳。</li>
                    <br>
                    <br><li>2: 地理位置與物流:內華達州位於包括三藩市、波特蘭、鹽湖城、拉斯維加斯、洛 杉磯等主要西部城市的中心，距離卡斯卡地亞、亞利桑那陽光走廊、前山區等區 域一到兩日可達。</li>
                    <br><li>3: 勞工環境:內華達州是一個“勞動權利”州(Right to Work)。該州法律規定所有 企業主必須為工人提供補償金，無論是通過私人保險公司，還是自行保險，還是 通過雇主聯盟提供</li>
                    <br><li>4: 人才:內華達提供優越的公立和私立 K-12(從幼稚園到 12 年級)教育及大學教 育機會。(UNLV Harry Reid Research & Technology Park)內華達大學瑞德研 發與科技園、沙漠研究院、再生能源中心(UNR)等均坐落於該州。</li>
                    <br><li>5: 營商成本:內華達州的法律確保了該州企業的營商成本，諸如許可費用、最低工 資、保險等，均是具有競爭力的。商業許可證費每年 200 美元，特快公司服務 則提供 24 小時可完成的登記服務。該州最低工資為每小時 8.25 美元，工人的補 償金費率在 12 年中有九年下降。</li>
                    <br><li>
                        6: 重商環境:內華達州的法律重視商業、管理寬鬆、法律體系有利於商業發展，並 有多種促進經濟發展的鼓勵專案，因此是全美最適合經商的幾個州之一。內華達 州的議會兩年才召開一次全會。
                    </li>
                    <br><li>
                        7: 外貿區:內華達州外貿區提供了更多的選擇。位於內華達北部的 Reno/Sparks 外貿區是全美最大的外貿區之一。經批准成為一個替代性的發展區域，能夠在三 十天內建成一個外貿區。內華達南部的外貿區則是美國西部倉儲和分銷最具成本 效益的區域。
                    </li>
                    <br><li>
                        8:資本市場:內華達的證券市場能夠為小企業新建或壯大提供融資。內華達州州務 廳的證券部門致力於幫助小企業獲得公共融資。
                    <br></li>
                    <br><li>
                        9: 住所保障:專業自保(Captive insurance)是一種自我保障。內華達的專業自保 體系在全美排名第四。通過這些有利因素，使得專業自保具有充分的吸引力，其 稅制對於超過 5000 美元以上的保費可以提供稅收減免。
                    </li>
                    <br><li>
                        10:生活品質:內華達有快節奏的城市，有舒適宜居的社區、藝術、文化、可信賴的 公共服務及多種多樣的娛樂休閒。偏低的物價水準讓生活在這裏的人民有著較高 的幸福指數。
                    </li>
                </ul>
            </div>
        </div>
        <!-- Footer -->
    </div>
