    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"> MTI 穩盈機構
                    <small></small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Intro Content -->
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive" src="img/chooseus.jpg" alt="">
            </div>
            <div class="col-md-6">
                <h2>MTI 穩盈機構基本介紹</h2>
                <p>MTI 穩盈城市規劃國際機構總部位於世界著名的博覽會交流中心，旅遊
觀光娛樂與商展的國際城市，是拉斯維加斯知名的國際企業。自創建以來，
穩盈堅持誠信經營的理念，本著穩健、永續、創新的發展原則，始終以專業
化、規範化、優質高效、透明營運的經營模式，採取集團化管理，建立專案
項目開放平台，在城市基礎建設的行業中逐漸取得了競爭優勢，現已發展成
為內華達州最大、最優秀的城市規劃國際機構。</p>
                <p>MTI 穩盈多年來以市場為導向、以專利項目為基礎、以人才為根本、以
穩健發展為前提，建立擁有200多名專業人士的菁英團隊，以敬業務實“追求
客戶最終滿意” 為宗旨，業務精湛專業、熱情服務，受到來自北美、歐洲、
中國、日本、澳大利亞、加拿大、香港、台灣等國家和地區廣大客戶的信賴
和支持。</p>
                <ul>美國首選商務城市，拉斯維加斯吸引國際企業進駐，優勢何在，關鍵要素：
                	<li>國際展覽推廣會議中心，經濟活力興旺，拓展業務發展潛力高；</li>
                	<li>區域定位優越，是發展北美各地業務的理想基地；</li>
                	<li>國際都會，透明度高，效率最優；</li>
                	<li>世界級基礎建設，集中國際頂級酒店業</li>
                	<li>國際物流及運輸樞紐</li>
                	<li>人才充沛，水準優秀</li>
                	<li>政府政策，扶助營商</li>
                	<li>優惠稅率，贏商暢通</li>
                	<li>發揮門戶功能，得天獨厚的商業城市華實兼備，優勢多不勝數；</li>

				</ul>
            </div>
        </div>
        <!-- /.row -->

        <!-- Our Customers -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">拉斯維加斯鏈接</h2>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
               <a href="http://www.clarkcountynv.gov/Pages/default.aspx" target="_blank" >
                    <img class="img-responsive miniimg img-hover" src="img/ClarkCounty.jpg" alt="">
                </a>
                <h3>
                    <a href="http://www.clarkcountynv.gov/Pages/default.aspx" target="_blank" >內華達州克拉克縣政府電話號碼</a>
                </h3>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <a href="http://www.cityofhenderson.com/global/contactus
" target="_blank" >
                    <img class="img-responsive miniimg img-hover" src="img/Henderson.jpg" alt="">
                </a>
                <h3>
                    <a href="http://www.cityofhenderson.com/global/contactus
" target="_blank" >內華達州韓德森政府電話號碼</a>
                </h3>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <a href="https://www.cityofnorthlasvegas.com/InfoFinder/InfoFinder.aspx
" target="_blank" >
                    <img class="img-responsive miniimg img-hover" src="img/northLV.jpg" alt="">
                </a>
                <h3>
                    <a href="https://www.cityofnorthlasvegas.com/InfoFinder/InfoFinder.aspx
" target="_blank" >內華達州北拉斯維加斯政府 </a>
                </h3>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 text-center">
                <a href="https://www.cityofnorthlasvegas.com/InfoFinder/InfoFinder.aspx
" target="_blank" >
                    <img class="img-responsive miniimg img-hover" src="img/lvcalender.png" alt="">
                </a>
                <h3>
                    <a href="https://www.cityofnorthlasvegas.com/InfoFinder/InfoFinder.aspx
" target="_blank" >內華達州北拉斯維加斯 </a>
                </h3>
            </div>
        </div>
        <!-- Our Customers -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">拉斯維加斯政府鏈接</h2>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <a href="https://www.dhs.gov/" target="_blank" >
                    <img class="img-responsive miniimg img-hover" src="img/homeland.jpg" alt="">
                </a>
                <h3>
                    <a href="https://www.dhs.gov/" target="_blank" >美國國土安全部</a>
                </h3>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <a href="https://www.uscis.gov/" target="_blank" >
                    <img class="img-responsive miniimg img-hover" src="img/immigration.jpg" alt="">
                </a>
                <h3>
                    <a href="https://www.uscis.gov/" target="_blank" >美國公民與移民事務署</a>
                </h3>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <a href="https://travel.state.gov/content/visas/en/law-and-policy/bulletin.html" target="_blank" >
                    <img class="img-responsive miniimg img-hover" src="img/StateDept.jpg" alt=""> 
                </a>
                <h3>
                    <a href="https://travel.state.gov/content/visas/en/law-and-policy/bulletin.html" target="_blank" >美國國務院排期</a>
                </h3>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <a href="https://www.state.gov/" target="_blank" >
                    <img class="img-responsive miniimg img-hover" src="img/StateDept.jpg" alt="">
                </a>
                <h3>
                    <a href="https://www.state.gov/" target="_blank" >美國國務院</a>
                </h3>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <a href="https://www.irs.gov/" target="_blank" >
                    <img class="img-responsive miniimg img-hover" src="img/IRS.jpg" alt="">
                </a>
                <h3>
                    <a href="https://www.irs.gov/" target="_blank" >美國國稅局</a>
                </h3>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <a href="https://www.ssa.gov/" target="_blank" >
                    <img class="img-responsive miniimg img-hover" src="img/social.jpg" alt="">
                </a>
                <h3>
                    <a href="https://www.ssa.gov/" target="_blank" >美國社會安全局</a>
                </h3>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <a href="https://www.justice.gov/" target="_blank" >
                    <img class="img-responsive miniimg img-hover" src="img/justice.jpg" alt=""> 
                </a>
                <h3>
                    <a href="https://www.justice.gov/" target="_blank" >美國司法部</a>
                </h3>
            </div> 
        </div>
        <!-- Team Members -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">穩盈機構</h2>
            </div>
            <div class="col-md-2 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-tree fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="panel-body">
                        <h4>咨詢部</h4>
                        <a href="lasvegasnews" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-car fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="panel-body">
                        <h4>法律部</h4>
                        <a href="cnlasvegasetravel" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-support fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="panel-body">
                        <h4>地產部</h4>
                        <a href="cnprojectone" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="panel-body">
                        <h4>外資部</h4>
                        <a href="cnlasvegasetravel" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="panel-body">
                        <h4>行政部</h4>
                        <a href="lasvegasnews" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="panel-body">
                        <h4>联系我们</h4>
                        <a href="cncontact" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <!-- /.row -->
        <hr>
    </div>
