
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">2017年拉斯維加斯投資啟動景觀
                    <small></small>
                </h1>
            </div>
        </div>
        <!-- /.row --> 
        <!-- Projects Row -->
        <div class="row"> 
            <div class="col-md-3 img-portfolio">
                <a href="img/images/拉斯維加斯酒店-1.pdf" target="_blank">
                    <img class="img-responsive miniimg img-hover" src="img/images/拉斯維加斯酒店-1.jpg" alt="">
                </a>
                <h3>
                    <a href="img/images/拉斯維加斯酒店-1.pdf" target="_blank">拉斯維加斯酒店-1</a>
                </h3>
            </div>
            <div class="col-md-3 img-portfolio">
                <a href="img/images/拉斯維加斯（主要）酒店-2.pdf" target="_blank">
                    <img class="img-responsive miniimg img-hover" src="img/images/拉斯維加斯（主要）酒店-2.jpg" alt="">
                </a>
                <h3>
                    <a href="img/images/拉斯維加斯（主要）酒店-2.pdf" target="_blank">拉斯維加斯（主要）酒店-2</a>
                </h3>
            </div>
            <div class="col-md-3 img-portfolio">
                <a href="img/images/拉斯維加斯（主要）酒店-3.pdf" target="_blank">
                    <img class="img-responsive miniimg img-hover" src="img/images/拉斯維加斯（主要）酒店-3.jpg" alt="">
                </a>
                <h3>
                    <a href="img/images/拉斯維加斯（主要）酒店-3.pdf" target="_blank">拉斯維加斯（主要）酒店-3</a>
                </h3>
            </div>
            <div class="col-md-3 img-portfolio">
                <a href="img/images/拉斯維加斯（主要）酒店-4.pdf" target="_blank">
                    <img class="img-responsive miniimg img-hover" src="img/images/拉斯維加斯（主要）酒店-4.jpg" alt="">
                </a>
                <h3>
                    <a href="img/images/拉斯維加斯（主要）酒店-4.pdf" target="_blank">拉斯維加斯（主要）酒店-4</a>
                </h3>
            </div>
        </div>
        <!-- /.row -->
        <hr>

    </div>
