

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">拉斯維加斯政府鏈接
                    <small></small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-3 img-portfolio">
                <a href="https://www.dhs.gov/" target="_blank" >
                    <img class="img-responsive miniimg img-hover" src="img/homeland.jpg" alt="">
                </a>
                <h3>
                    <a href="https://www.dhs.gov/" target="_blank" >美國國土安全部</a>
                </h3>
            </div>
            <div class="col-md-3 img-portfolio">
                <a href="https://www.uscis.gov/" target="_blank" >
                    <img class="img-responsive miniimg img-hover" src="img/immigration.jpg" alt="">
                </a>
                <h3>
                    <a href="https://www.uscis.gov/" target="_blank" >美國公民與移民事務署</a>
                </h3>
            </div>
            <div class="col-md-3 img-portfolio">
                <a href="https://travel.state.gov/content/visas/en/law-and-policy/bulletin.html" target="_blank" >
                    <img class="img-responsive miniimg img-hover" src="img/StateDept.jpg" alt=""> 
                </a>
                <h3>
                    <a href="https://travel.state.gov/content/visas/en/law-and-policy/bulletin.html" target="_blank" >美國國務院排期</a>
                </h3>
            </div>
            <div class="col-md-3 img-portfolio">
                <a href="https://www.state.gov/" target="_blank" >
                    <img class="img-responsive miniimg img-hover" src="img/StateDept.jpg" alt="">
                </a>
                <h3>
                    <a href="https://www.state.gov/" target="_blank" >美國國務院</a>
                </h3>
            </div>
        </div>
        <!-- /.row -->
        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-3 img-portfolio">
                <a href="https://www.irs.gov/" target="_blank" >
                    <img class="img-responsive miniimg img-hover" src="img/IRS.jpg" alt="">
                </a>
                <h3>
                    <a href="https://www.irs.gov/" target="_blank" >美國國稅局</a>
                </h3>
            </div>
            <div class="col-md-3 img-portfolio">
                <a href="https://www.ssa.gov/" target="_blank" >
                    <img class="img-responsive miniimg img-hover" src="img/social.jpg" alt="">
                </a>
                <h3>
                    <a href="https://www.ssa.gov/" target="_blank" >美國社會安全局</a>
                </h3>
            </div>
            <div class="col-md-3 img-portfolio">
                <a href="https://www.justice.gov/" target="_blank" >
                    <img class="img-responsive miniimg img-hover" src="img/justice.jpg" alt=""> 
                </a>
                <h3>
                    <a href="https://www.justice.gov/" target="_blank" >美國司法部</a>
                </h3>
            </div> 
        </div>

        <!-- /.row -->
        <hr>

    </div>
