

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">拉斯維加斯連接
                    <small></small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-3 img-portfolio">
                <a href="http://www.clarkcountynv.gov/Pages/default.aspx" target="_blank" >
                    <img class="img-responsive miniimg img-hover" src="img/ClarkCounty.jpg" alt="">
                </a>
                <h3>
                    <a href="http://www.clarkcountynv.gov/Pages/default.aspx" target="_blank" >内华达州克拉克县政府电话号码</a>
                </h3>
            </div>
            <div class="col-md-3 img-portfolio">
                <a href="http://www.cityofhenderson.com/global/contactus
" target="_blank" >
                    <img class="img-responsive miniimg img-hover" src="img/Henderson.jpg" alt="">
                </a>
                <h3>
                    <a href="http://www.cityofhenderson.com/global/contactus
" target="_blank" >内华达州韓德森政府电话号码</a>
                </h3>
            </div>
            <div class="col-md-3 img-portfolio">
                <a href="https://www.cityofnorthlasvegas.com/InfoFinder/InfoFinder.aspx
" target="_blank" >
                    <img class="img-responsive miniimg img-hover" src="img/northLV.jpg" alt="">
                </a>
                <h3>
                    <a href="https://www.cityofnorthlasvegas.com/InfoFinder/InfoFinder.aspx
" target="_blank" >内华达州北拉斯维加斯政府电话号码 </a>
                </h3>
            </div>
            <div class="col-md-3 img-portfolio">
                <a href="https://www.dhs.gov/" target="_blank" >
                    <img class="img-responsive miniimg img-hover" src="img/homeland.jpg" alt="">
                </a>
                <h3>
                    <a href="https://www.dhs.gov/" target="_blank" >美国国土安全部</a>
                </h3>
            </div>
        </div>
        <!-- /.row -->
        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-3 img-portfolio">
                <a href="https://www.uscis.gov/" target="_blank" >
                    <img class="img-responsive miniimg img-hover" src="img/immigration.jpg" alt="">
                </a>
                <h3>
                    <a href="https://www.uscis.gov/" target="_blank" >美国公民与移民事务署</a>
                </h3>
            </div>
            <div class="col-md-3 img-portfolio">
                <a href="https://www.justice.gov/eoir" target="_blank" >
                    <img class="img-responsive miniimg img-hover" src="img/justice.jpg" alt=""> 
                </a>
                <h3>
                    <a href="https://www.justice.gov/eoir" target="_blank" >移民上诉委员会</a>
                </h3>
            </div>  
            <div class="col-md-3 img-portfolio">
                <a href="https://www.state.gov/" target="_blank" >
                    <img class="img-responsive miniimg img-hover" src="img/StateDept.jpg" alt="">
                </a>
                <h3>
                    <a href="https://www.state.gov/" target="_blank" >美国国务院</a>
                </h3>
            </div>
            <div class="col-md-3 img-portfolio">
                <a href="https://www.justice.gov/" target="_blank" >
                    <img class="img-responsive miniimg img-hover" src="img/justice.jpg" alt=""> 
                </a>
                <h3>
                    <a href="https://www.justice.gov/" target="_blank" >美国司法部</a>
                </h3>
            </div> 
        </div>

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-3 img-portfolio">
                <a href="https://www.irs.gov/" target="_blank" >
                    <img class="img-responsive miniimg img-hover" src="img/IRS.jpg" alt="">
                </a>
                <h3>
                    <a href="https://www.irs.gov/" target="_blank" >美国国税局</a>
                </h3>
            </div>
            <div class="col-md-3 img-portfolio">
                <a href="https://www.sss.gov" target="_blank" >
                    <img class="img-responsive miniimg img-hover" src="img/Selective.jpg" alt=""> 
                </a>
                <h3>
                    <a href="https://www.sss.gov" target="_blank" >美国兵役机构</a>
                </h3>
            </div>
            <div class="col-md-3 img-portfolio">
                <a href="https://www.ssa.gov/" target="_blank" >
                    <img class="img-responsive miniimg img-hover" src="img/social.jpg" alt="">
                </a>
                <h3>
                    <a href="https://www.ssa.gov/" target="_blank" >美国社会安全局</a>
                </h3>
            </div>
            <div class="col-md-3 img-portfolio">
                <a href="https://travel.state.gov/content/visas/en/law-and-policy/bulletin.html" target="_blank" >
                    <img class="img-responsive miniimg img-hover" src="img/StateDept.jpg" alt=""> 
                </a>
                <h3>
                    <a href="https://travel.state.gov/content/visas/en/law-and-policy/bulletin.html" target="_blank" >美国国务院移民排期</a>
                </h3>
            </div>
        </div>
        <!-- /.row -->
        <hr>

    </div>
