
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">拉斯維加斯中心湖畔豪園
                    <small></small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 img-portfolio">
                <a href="img/projectfive/25-拉斯維加斯區域中心湖畔-城堡花園-lakes-1.pdf">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="img/projectfive/25-拉斯維加斯區域中心湖畔-城堡花園-lakes-1.pdf">拉斯維加斯中心湖畔 - 城堡花園</a>
                </h3>
                <p>距離城中大街只有10分鐘車程</p>
            </div>
            <div class="col-md-6 img-portfolio">
                <a href="img/projectfive/26-拉斯維加斯區域中心湖畔-歐式花園-lake-2.pdf">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="img/projectfive/26-拉斯維加斯區域中心湖畔-歐式花園-lake-2.pdf">拉斯維加斯中心湖畔 – 歐式花園</a>
                </h3>
                <p>距離城中大街只有10分鐘車程</p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 img-portfolio">
                <a href="img/projectfive/27-拉斯維加斯區域中心湖畔-金堡花園-lake-3.pdf">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="img/projectfive/27-拉斯維加斯區域中心湖畔-金堡花園-lake-3.pdf">拉斯維加斯中心湖畔 – 金堡花園</a>
                </h3>
                <p>距離城中大街只有10分鐘車程</p>
            </div>
            <div class="col-md-6 img-portfolio">
                <a href="img/projectfive/28-拉斯維加斯區域中心湖畔-豪景花園-lake-4.pdf">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="img/projectfive/28-拉斯維加斯區域中心湖畔-豪景花園-lake-4.pdf">拉斯維加斯中心湖畔 – 豪景花園</a>
                </h3>
                <p>距離城中大街只有10分鐘車程</p>
            </div>
        </div>
        <!-- /.row -->
        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 img-portfolio">
                <a href="img/projectfive/29-拉斯維加斯區域中心湖畔-嘉福花園-lake-5.pdf">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="img/projectfive/29-拉斯維加斯區域中心湖畔-嘉福花園-lake-5.pdf">拉斯維加斯中心湖畔 – 嘉福花園</a>
                </h3>
                <p>距離城中大街只有10分鐘車程</p>
            </div>
            <div class="col-md-6 img-portfolio">
                <a href="img/projectfive/30-拉斯維加斯區域中心湖畔-柏龍花園-lake-6.pdf">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="img/projectfive/30-拉斯維加斯區域中心湖畔-柏龍花園-lake-6.pdf">拉斯維加斯中心湖畔 – 柏龍花園</a>
                </h3>
                <p>距離城中大街只有10分鐘車程</p>
            </div>
        </div>
        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 img-portfolio">
                <a href="img/projectfive/31-拉斯維加斯區域中心湖畔-雅廳花園-lake-7.pdf">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="img/projectfive/31-拉斯維加斯區域中心湖畔-雅廳花園-lake-7.pdf">拉斯維加斯中心湖畔 – 雅廳花園</a>
                </h3>
                <p>距離城中大街只有10分鐘車程</p>
            </div>
            <div class="col-md-6 img-portfolio">
                <a href="">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="">Coming soon</a>
                </h3>
                <p></p>
            </div>
        </div>





        <!-- /.row -->
        <hr>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <hr>

    </div>
