
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">City Development
                    <small></small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Project One -->
        <div class="row">
            <div class="col-md-7">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x300" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>康樂園 優選住宅區</h3>
                <h4>拉斯維加斯 56 塊土地 公寓開發</h4> 
                <p>市區環城高速公路內環帶,對街有中學、棒球場、田徑場、網球場、巷口銜接市區高速 公路，路口有超市商圈，四通八達，方圓 2 英哩內沒有全新屋及 2000 年後屋齡房屋。 市場需求潛力強勁，拉斯維加斯找不到 90 年建造 55 戶社區價格在 1500 萬以下。</p>
                <a class="btn btn-primary" href="img/Cost56lots-LV.pdf" target="_blank">View Project</i></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Two -->
        <div class="row">
            <div class="col-md-7">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x300" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>北拉斯維加斯市中心</h3>
                <h4>住宅重建與新生活消費商圈改建項目</h4>
                <p>最近由於北拉斯有法拉第電動車(Faraday Future)十億美金的經濟效益入注，超迴路捷運系 統(HYPERLOOP)的最新交通運輸的創新和解決方案，這兩大交通工業科技公司進駐北拉斯維加斯 市，使得北拉斯成為耀眼的新興城市。</p>
                <a class="btn btn-primary" href="img/C1-NLV1B.pdf" target="_blank">View Project</i></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Three -->
        <div class="row">
            <div class="col-md-7">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x300" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>北拉斯維加斯市</h3>
                <h4>退伍軍人醫院園區大樓 150 英畝土地</h4>
                <p>北拉斯維加斯市將開發建設醫療器材及醫療服務專業園區，並爭取 UNLV 在北拉斯維 加斯市建立醫學院分校.約占地 150 英畝土地,選址在美國最新退伍軍人醫院正對面. 土地現為聯邦土地,在適當的時機會以市價出售給市政府專案用以創造就業機會.投資 者可以開發規劃一站式醫療園區.</p>
                <a class="btn btn-primary" href="img/C2-NLV-VA.pdf" target="_blank">View Project</i></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Four -->
        <div class="row">

            <div class="col-md-7">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x300" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>APEX 工業園區基礎設施政府項目</h3>
                <h4>北拉斯維加斯市政府開發 APEX 工業園區</h4>
                <p>北拉斯維加斯市政府開發 APEX 工業園區，計畫現有 2 萬英畝土地面積上建立基礎
設施，此園區是美西樞紐城市非常適合工業集團設廠或擴廠。
基礎設施四大重要項目:
</p>
                <ul>
                <li>Apex Wastewater Treatment Plant 汙水處理廠</li>
                <li>Apex Wastewater Collection System 汙水回收系統</li>
                <li>Apex Surface Water System 水利管線系統</li>
                <li>Apex Groundwater System 地面水利系統</li>
                </ul>
                <a class="btn btn-primary" href="img/C3-APEX.pdf" target="_blank">View Project</i></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Five -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x300" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Project Five</h3>
                <h4>Subheading</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, quo, minima, inventore voluptatum saepe quos nostrum provident ex quisquam hic odio repellendus atque porro distinctio quae id laboriosam facilis dolorum.</p>
                <a class="btn btn-primary" href="#">View Project</i></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <hr>

    </div>
