
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">商業投資項目
                    <small></small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 img-portfolio">
                <a href="img/projecttwo/G2-拉斯維加斯市中心Zappos捷步品牌酒店建案.pdf">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="img/projecttwo/G2-拉斯維加斯市中心Zappos捷步品牌酒店建案.pdf" target="_blank">拉斯維加斯市中心Zappos捷步品牌酒店建案 </a>
                </h3>
                <p>200間客房世界頂級服務酒店建設案，市中心振興專案（Downtown Project）
已擁有多棟酒店改造經營成功的實例，為Zappos Hotel 的最終目標打下基礎，提
供與眾不同尊貴奢華的酒店給特定政商名流人士入住。</p>
            </div>
            <div class="col-md-6 img-portfolio">
                <a href="img/projecttwo/G3-拉斯維加斯市中心前Zydeco餐廳改建案.pdf">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="img/projecttwo/G3-拉斯維加斯市中心前Zydeco餐廳改建案.pdf" target="_blank">拉斯維加斯市中心前Zydeco餐廳改建案</a>
                </h3>
                <p>拉斯維加斯市中心之心的位置上可以開設創新餐廳或是其他經營項目</p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 img-portfolio">
                <a href="img/projecttwo/G5-拉斯維加斯市中心創新醫療診所.pdf">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="img/projecttwo/G5-拉斯維加斯市中心創新醫療診所.pdf" target="_blank">拉斯維加斯市中心創新醫療診所</a>
                </h3>
                <p>拉斯維加斯已發展成退休定居的熱門城市，市中心的一項吸引人的特點就是食
衣住行都可以走路到達，唯獨醫療資源仍需要加強，創新醫療診所可接受城中居民
的病人，藉由科技可以做到遠距診療，或是提供專業醫療或是老人看護。</p>
            </div>
            <div class="col-md-6 img-portfolio">
                <a href="img/projecttwo/G6-拉斯維加斯市中心私立九橋學校.pdf">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="img/projecttwo/G6-拉斯維加斯市中心私立九橋學校.pdf" target="_blank">拉斯維加斯市中心私立九橋學校</a>
                </h3>
                <p>拉斯維加斯市中心，經市中心振興專案（Downtown Project）推動下已蓬勃
發展，在市中心居住與工作的人數呈倍數成長，除正規學校外，缺乏其他的教育機
構，市中心振興專案（Downtown Project）不但改善經濟也將教育視為重點發展，
本案與私立九橋學校合作將推動設立：學齡前兒童啟發學習中心，更新軟硬體並引
進多元化教學。 </p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 img-portfolio">
                <a href="img/projecttwo/R2-韓德森市旺區商業.pdf">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="img/projecttwo/R2-韓德森市旺區商業.pdf" target="_blank">韓德森市旺區商業</a>
                </h3>
                <p>商鋪其中一部分有政府部門租用作為克拉克縣家庭福利局使用面積14,985平
方英呎，每年收到租金$314,685，空置面積23,2005平方英呎可對外出租。 </p>
            </div>
            <div class="col-md-6 img-portfolio">
                <a href="img/projecttwo/R3-拉斯維加斯大學城C級商用樓出售.pdf">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="img/projecttwo/R3-拉斯維加斯大學城C級商用樓出售.pdf" target="_blank">拉斯維加斯大學城C級商用樓出售</a>
                </h3>
                <p>15棟商用樓-占地8英畝，室內面積101,311平方英呎, 採用LED照明，翻新省水設備，屋頂狀況良好，已有商家租用。 </p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 img-portfolio">
                <a href="img/projecttwo/A16-67AC賭城地王之王67英畝土地.pdf">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="img/projecttwo/A16-67AC賭城地王之王67英畝土地.pdf" target="_blank">辦公樓盤與工廠物業投資</a>
                </h3>
                <p>5棟工商樓盤出售, 機場旁, 2009年建造, 每棟接有出入管制鐵門, 全新完工，依照政府部門租用條件建造，適合出租給公家機關</p>
            </div>
            <div class="col-md-6 img-portfolio">
                <a href="#">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="#" target="_blank">Coming Soon</a>
                </h3>
                <p>這項市中心專案，目標和宗旨是幫助拉斯維加斯市中心的地方開啓創業活力和
創造力、創新、向上流動，記取經驗，共同學習。許多小企業和高 科技公司，是共
同業主與創辦這些公司的企業家。</p>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="cnprojecttwo">&laquo;</a>
                    </li>
                    <li>
                        <a href="cnprojecttwo">1</a>
                    </li>
                    <li class="active">
                        <a href="cnprojecttwo-page2">2</a>
                    </li>

                </ul>
            </div>
        </div>
        <!-- /.row -->

        <hr>

    </div>
