
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">拉斯維加斯區域政府項目專案
                    <small></small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 img-portfolio">
                <a href="img/projectone/A15-拉斯維加斯市區診所綜合大樓.pdf" target="_blank">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="img/projectone/A15-拉斯維加斯市區診所綜合大樓.pdf" target="_blank">拉斯維加斯市區診所綜合大樓</a>
                </h3>
                <p>查理斯頓大道西段上，三面環路商用土地將計劃建造雙層醫療診所。20 間單位 其中 18 間作為診所，最後 2 間為物業管理辦公室。</p>
            </div>
            <div class="col-md-6 img-portfolio">
                <a href="img/projectone/B1-拉斯維加斯市中心混合用途大樓建案.pdf" target="_blank">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="img/projectone/B1-拉斯維加斯市中心混合用途大樓建案.pdf" target="_blank">拉斯維加斯市中心混合用途大樓建案</a>
                </h3>
                <p>拉斯維加斯市政府關於市中心多用途項高層開發計劃簡介 
拉斯維加斯市中心高層公寓項目坐落於美麗的拉斯維加斯中心腹地。</p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 img-portfolio">
                <a href="img/projectone/B2-交響樂公園周邊專案.pdf">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="img/projectone/B2-交響樂公園周邊專案.pdf" target="_blank">交響樂商業園 </a>
                </h3>
                <p>交響樂商業園，目前有是個地塊總計 31 英畝可用土地。可用于興建寫字樓，零 售業，醫療，娛樂和酒店。 </p>
            </div>
            <div class="col-md-6 img-portfolio">
                <a href="img/projectone/B6-西北工業園項目.pdf">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="img/projectone/B6-西北工業園項目.pdf" target="_blank">西北工業園概況 </a>
                </h3>
                <p>此土地位於拉斯維加斯市西北，95 號洲際公路貫穿於此。地號（APN 099-22-000-001 & 002），section 22,T.18S.,R.59E.，面積約為 640 英畝。 </p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 img-portfolio">
                <a href="img/projectone/C1-北拉斯維加斯市中心住宅重建與新生活消費商圈改建項目.pdf">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="img/projectone/C1-北拉斯維加斯市中心住宅重建與新生活消費商圈改建項目.pdf" target="_blank">北拉斯維加斯市中心</a>
                </h3>
                <p>北拉斯維加斯市政中心為結合居民一切所須的金三角地段有法院,圖書館,市政府,
警局,醫院,電力公司等政商機能辦公地點。.</p>
            </div>
            <div class="col-md-6 img-portfolio">
                <a href="img/projectone/C2-北拉斯維加斯市退伍軍人醫院園區大樓150英畝土地.pdf">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="img/projectone/C2-北拉斯維加斯市退伍軍人醫院園區大樓150英畝土地.pdf" target="_blank">北拉斯維加斯市</a>
                </h3>
                <p>北拉斯維加斯市將開發建設醫療器材及醫療服務專業園區，並爭取 UNLV 在北拉斯維
加斯市建立醫學院分校，</p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 img-portfolio">
                <a href="img/projectone/C3-APEX工業園區基礎設施政府項目.pdf">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="img/projectone/C3-APEX工業園區基礎設施政府項目.pdf" target="_blank">APEX 工業園區基礎設施政府項目 </a>
                </h3>
                <p>北拉斯維加斯市政府開發 APEX 工業園區，計畫現有 2 萬英畝土地面積上建立基礎
設施</p>
            </div>
            <div class="col-md-6 img-portfolio">
                <a href="img/projectone/C-4北拉斯維加斯市貿易村35英畝多項開發案.pdf">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="img/projectone/C-4北拉斯維加斯市貿易村35英畝多項開發案.pdf" target="_blank">北拉斯維加斯市貿易村 35 英畝多項開發案</a>
                </h3>
                <p>北拉斯維加斯市一項高達一億美元的維加斯貿易村（Vegas Trade Village）開發
案，即將開工，未來將提供外國製造商一個生活居住及展示商品的空間。 </p>
            </div>
        </div>
        <!-- /.row -->


        <hr>
 
        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li class="active">
                        <a href="cnprojectone">1</a>
                    </li>
                    <li>
                        <a href="cnprojectone-page2">2</a>
                    </li>
                    <li>
                        <a href="cnprojectone-page3">3</a>
                    </li>
                    <li>
                        <a href="cnprojectone-page2">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <hr>

    </div>
