
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">國夏威夷投資項目
                    <small></small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-12 img-portfolio">
                <a href="img/projecteight/A14夏威夷喜羅市高級公寓建設開發案5-HILO-2016.pdf">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="img/projecteight/A14夏威夷喜羅市高級公寓建設開發案5-HILO-2016.pdf">夏威夷喜羅市高級公寓建設開發案</a>
                </h3>
                <p>公寓大樓開發，位於喜羅,靠近Wailuku河入海口。 本項目規劃在1.8萬平方米的土地上建造7棟3層花園式公寓，包括28戶一房公寓，62戶兩房公寓以及15戶三房公寓，共計105單位。</p> 
            </div>
        </div>
        <!-- /.row -->
        <hr>
 
        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <hr>

    </div>
