
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">拉斯維加斯區域政府項目專案
                    <small></small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 img-portfolio">
                <a href="img/projectone/D-運動健康康复中心.pdf">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="img/projectone/D-運動健康康复中心.pdf" target="_blank">D-運動健康康复中心</a>
                </h3>
                <p>運動醫療康復中心項目將會是一個“健康中心”，主要面向醫療康復類商戶。
 其他店面將用於開設中西醫診所。</p>
            </div>
            <div class="col-md-6 img-portfolio">
                <a href="img/projectone/E1-內華達州立大學旁建設案(A)師生宿舍公寓.pdf">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="img/projectone/E1-內華達州立大學旁建設案(A)師生宿舍公寓.pdf" target="_blank">內華達州立大學旁建設案(A)師生宿舍公寓</a>
                </h3>
                <p>Nevada State College，地大 300 acers 英畝(2023500 平方米)，將有 25,000 個 學生，目標成為 Nevada 最大的大學。</p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 img-portfolio">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="img/projectone/E2-內華達州立大學旁建設案(B)周邊生活零售商圈與超市等.pdf" target="_blank">內華達州立大學旁建設案(B)周邊生活零售商圈 </a>
                </h3>
                <p>Nevada State College，地大 300 acers 英畝(2023500 平方米)，將有 25,000 個 學生，目標成為 Nevada 最大的大學。 </p>
            </div>
            <div class="col-md-6 img-portfolio">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="img/projectone/E3-內華達州立大學旁建設案(C)大學村校舍.pdf" target="_blank">內華達州立大學旁建設案(C)大學村校舍</a>
                </h3>
                <p>Nevada State College，地大 300 acers 英畝(2023500 平方米)，將有 25,000 個 學生，目標成為 Nevada 最大的大學。 </p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 img-portfolio">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="img/projectone/E4-內華達州立大學旁建設案(D)醫護實習大樓.pdf" target="_blank">內華達州立大學旁建設案(D)醫護實習大樓</a>
                </h3>
                <p>Nevada State College，地大 300 acers 英畝(2023500 平方米)，將有 25,000 個 學生，目標成為 Nevada 最大的大學。 </p>
            </div>
            <div class="col-md-6 img-portfolio">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="img/projectone/E5-內華達州立大學旁建設案.pdf" target="_blank">內華達州立大學旁建設案（E）國際交換學生中心</a>
                </h3>
                <p>Nevada State College，地大 300 acers 英畝(2023500 平方米)，將有 25,000 個 學生，目標成為 Nevada 最大的大學。 </p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 img-portfolio">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="img/projectone/E6-韓德森市中心商住專案.pdf" target="_blank">韓德森市商辦住宅 </a>
                </h3>
                <p>樓下開店，家住樓上，後院是倉庫，為實業家量身訂做新興商辦住宅，不必再上
班通勤，隨時可以做生意，馬上可交貨，把握每次成功良機不再錯過。</p>
            </div>
            <div class="col-md-6 img-portfolio">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="img/projectone/E7-韓德森市舊城區住宅重建與新生活消費商圈改建項目.pdf" target="_blank">韓德森市舊城區 WATER STREET DISTRICT </a>
                </h3>
                <p>重建局主導舊城區重建 - 可做土地投資與大樓建設</p>
            </div>
        </div>
        <!-- /.row -->

        <hr>
 
        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="cnprojectone">&laquo;</a>
                    </li>
                    <li>
                        <a href="cnprojectone">1</a>
                    </li>
                    <li class="active">
                        <a href="cnprojectone-page2">2</a>
                    </li>
                    <li>
                        <a href="cnprojectone-page3">3</a>
                    </li>
                    <li>
                        <a href="cnprojectone-page3">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <hr>

    </div>


