
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">拉斯維加斯區域政府項目專案
                    <small></small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-3 img-portfolio">
                <a href="img/projectten/8.jpg" target="_blank">
                    <img class="img-responsive miniimg img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="img/projectten/8.jpg" target="_blank">北拉斯維加斯市政中心特區開發案</a>
                </h3>
                <p>北拉斯維加斯市政中心為結合居民一切所須的金三角地段有法院、圖書
館、市政府、警局，醫院、電力公司等政商機能辦公地點，投資特色為市府
重點項目，可以馬上起動，現有2個項目出檯向投資人招標。 </p>
            </div>
            <div class="col-md-3 img-portfolio">
                <a href="img/projectten/8.jpg" target="_blank">
                    <img class="img-responsive miniimg img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="img/projectten/8.jpg" target="_blank">北拉斯維加斯市開發項目</a>
                </h3>
                <p>☆ 舊市府大樓改建項目 ☆ 市中心消費商圈革新再造 ☆ 工商科技園區Apex ☆ 北拉斯維加斯商業重鎮 ☆ 北環工業園區 ☆ 退休軍人醫療園區 ☆ 就業再造特區 ☆ 圖樂泉新建住宅區</p>
            </div>
            <div class="col-md-3 img-portfolio">
                <a href="img/projectten/9.jpg" target="_blank">
                    <img class="img-responsive miniimg img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="img/projectten/9.jpg" target="_blank">北拉斯維加斯市北環工業園區900英畝土地</a>
                </h3>
                <p>北拉斯維加斯市北環工業園區900英畝土地.可收購土地投資</p>
            </div>
            <div class="col-md-3 img-portfolio">
                <a href="">
                    <img class="img-responsive miniimg img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="">Coming soon</a>
                </h3>
                <p></p>
            </div>
        </div>
        <!-- /.row -->

        <!-- /.row -->
        <hr>

    </div>
