
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">專案定制項目
                    <small></small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-3 img-portfolio">
                <a href="img/projectnine/中國元素主題公園.jpg" target="_blank">
                    <img class="img-responsive miniimg img-hover" src="img/projectnine/中國元素主題公園.jpg" alt="">
                </a>
                <h3>
                    <a href="img/projectnine/中國元素主題公園.jpg" target="_blank">中國元素主題公園</a>
                </h3>
                <p>中國元素主題公園</p> 
            </div>
            <div class="col-md-3 img-portfolio">
                <a href="img/projectnine/中國旅遊商展康體健身文化城.jpg" target="_blank">
                    <img class="img-responsive miniimg img-hover" src="img/projectnine/中國旅遊商展康體健身文化城.jpg" alt="">
                </a>
                <h3>
                    <a href="img/projectnine/中國旅遊商展康體健身文化城.jpg" target="_blank">中國旅遊商展康體健身文化城</a>
                </h3>
                <p>中國旅遊商展康體健身文化城</p> 
            </div>
            <div class="col-md-3 img-portfolio">
                <a href="img/projectnine/中國養生康復中心.jpg" target="_blank">
                    <img class="img-responsive miniimg img-hover" src="img/projectnine/中國養生康復中心.jpg" alt="">
                </a>
                <h3>
                    <a href="img/projectnine/中國養生康復中心.jpg" target="_blank">中國養生康復中心</a>
                </h3>
                <p>中國養生康復中心</p> 
            </div>
            <div class="col-md-3 img-portfolio">
                <a href="img/projectnine/新醫藥研發拓展科技園.jpg" target="_blank">
                    <img class="img-responsive miniimg img-hover" src="img/projectnine/新醫藥研發拓展科技園.jpg" alt="">
                </a>
                <h3>
                    <a href="img/projectnine/新醫藥研發拓展科技園.jpg" target="_blank">新醫藥研發拓展科技園</a>
                </h3>
                <p>新醫藥研發拓展科技園</p> 
            </div>
        </div>

        <hr>

    </div>
