
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">商業投資項目
                    <small></small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 img-portfolio">
                <a href="img/projecttwo/A1-RainbowChinatown%20中國創新文化區.pdf">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="img/projecttwo/A1-RainbowChinatown中國創新文化區.pdf" target="_blank">拉斯維加斯中國城新住商大樓開發案 </a>
                </h3>
                <p>運動醫療康復中心項目將會是一個“健康中心”，主要面向醫療康復類商戶。
 其他店面將用於開設中西醫診所。</p>
            </div>
            <div class="col-md-6 img-portfolio">
                <a href="img/projecttwo/A2-5925plaza中國城商務中心.pdf">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="img/projecttwo/A2-5925plaza中國城商務中心.pdf" target="_blank">中國城 5925 Spring Mountain 商務中心建案</a>
                </h3>
                <p>中國城春山路上龐大車流,鄰近 168 頂好超市商圈，並為定居華人生活中心，土地旁有麥當勞餐廳，現已規劃新商辦大樓圖紙，地主有意提供土地合建。</p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 img-portfolio">
                <a href="img/projecttwo/A6-FU-LLC2016地下管線合約包商建設公司出售.pdf">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="img/projecttwo/A6-FU-LLC2016地下管線合約包商建設公司出售.pdf" target="_blank">地下管線合約包商建設公司出售 </a>
                </h3>
                <p>此公司專門承接大型地下化工程項目，創業至今將近 10 年。營收主要來自下水
道管線鋪設,排洪水道，地下電力線路等。 </p>
            </div>
            <div class="col-md-6 img-portfolio">
                <a href="img/projecttwo/A7-Southstriphotel250rooms拉斯維加斯大道酒店開發案.pdf">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="img/projecttwo/A7-Southstriphotel250rooms拉斯維加斯大道酒店開發案.pdf" target="_blank">拉斯維加斯大道酒店開發案</a>
                </h3>
                <p>2017 年推出 250 間客房酒店計劃，包括餐廳區，加油站 12 支油槍，便利商店與
洗車中心。 </p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 img-portfolio">
                <a href="img/projecttwo/A9-新創素食美式漢堡連鎖店.pdf">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="img/projecttwo/A9-新創素食美式漢堡連鎖店.pdf" target="_blank">新創素食美式漢堡連鎖店</a>
                </h3>
                <p>新創素食美式漢堡連鎖店，已在拉斯維加斯成功開了三家店，生意興旺，極具發
展潛力，面向全美國，最終目標成為在美上市公司。</p>
            </div>
            <div class="col-md-6 img-portfolio">
                <a href="img/projecttwo/A10-BoulderTower20巨石商務酒店賭場大樓預定地.pdf">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="img/projecttwo/A10-BoulderTower20巨石商務酒店賭場大樓預定地.pdf" target="_blank">Boulder Tower 巨石商務酒店賭場大樓預定地</a>
                </h3>
                <p>拉斯維加斯剩餘不多的可建高層建築的土地，目前限制高度 100 英尺，土地面積
6.7 英畝，是 H-1 土地屬性的商業土地。 </p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 img-portfolio">
                <a href="img/projecttwo/A16-67AC賭城地王之王67英畝土地.pdf">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="img/projecttwo/A16-67AC賭城地王之王67英畝土地.pdf" target="_blank">賭城地王之王 </a>
                </h3>
                <p>黃金地段，坐擁拉斯維加斯大道與 15 號高速交口旁三面環路，直達機場，OUTLET
CENTER，洛杉磯，可興建賭場酒店，高樓豪華公寓，體育館，球場，全新會展中心， 
主題樂園，水上樂園，購物中心等；</p>
            </div>
            <div class="col-md-6 img-portfolio">
                <a href="img/projecttwo/G1-拉斯維加斯舊城區旅館重建.pdf">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="img/projecttwo/G1-拉斯維加斯舊城區旅館重建.pdf" target="_blank">拉斯維加斯舊城區旅館重建</a>
                </h3>
                <p>這項市中心專案，目標和宗旨是幫助拉斯維加斯市中心的地方開啓創業活力和
創造力、創新、向上流動，記取經驗，共同學習。許多小企業和高 科技公司，是共
同業主與創辦這些公司的企業家。</p>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li class="active">
                        <a href="projecttwo">1</a>
                    </li>
                    <li>
                        <a href="cnprojecttwo-page2">2</a>
                    </li>
                    <li>
                        <a href="cnprojecttwo-page2">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <hr>

    </div>
