
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">拉斯維加斯區域政府項目專案
                    <small></small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-3 img-portfolio">
                <a href="img/projectone/A15.jpg" target="_blank">
                    <img class="img-responsive miniimg img-hover" src="img/projectone/A15.jpg" alt="">
                </a>
                <h3>
                    <a href="img/projectone/A15.jpg" target="_blank">拉斯維加斯市區診所綜合大樓</a>
                </h3>
                <p>查理斯頓大道西段上，三面環路商用土地將計劃建造雙層醫療診所。20 間單位 其中 18 間作為診所，最後 2 間為物業管理辦公室。</p>
            </div>
            <div class="col-md-3 img-portfolio">
                <a href="img/projectone/B1.jpg" target="_blank">
                    <img class="img-responsive miniimg img-hover" src="img/projectone/B1.jpg" alt="">
                </a>
                <h3>
                    <a href="img/projectone/B1.jpg" target="_blank">拉斯維加斯市中心混合用途大樓建案</a>
                </h3>
                <p>拉斯維加斯市政府關於市中心多用途項高層開發計劃簡介  
拉斯維加斯市中心高層公寓項目坐落於美麗的拉斯維加斯中心腹地。</p> 
            </div>
            <div class="col-md-3 img-portfolio">
                <a href="img/projectone/B2.jpg" target="_blank">
                    <img class="img-responsive miniimg img-hover" src="img/projectone/B2.jpg" alt="">
                </a>
                <h3>
                    <a href="img/projectone/B2.jpg" target="_blank">交響樂商業園 </a>
                </h3>
                <p>交響樂商業園，目前有是個地塊總計 31 英畝可用土地。可用于興建寫字樓，零 售業，醫療，娛樂和酒店。 </p>
            </div>
            <div class="col-md-3 img-portfolio">
                <a href="img/projectone/B6.jpg" target="_blank">
                    <img class="img-responsive miniimg img-hover" src="img/projectone/B6.jpg" alt="">
                </a>
                <h3>
                    <a href="img/projectone/B6.jpg" target="_blank">西北工業園概況 </a>
                </h3>
                <p>此土地位於拉斯維加斯市西北，95 號洲際公路貫穿於此。地號（APN 099-22-000-001 & 002），section 22,T.18S.,R.59E.，面積約為 640 英畝。 </p>
            </div>

        </div>

        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-3 img-portfolio">
                <a href="img/projectone/C1.jpg" target="_blank">
                    <img class="img-responsive miniimg img-hover" src="img/projectone/C1.jpg" alt="">
                </a>
                <h3>
                    <a href="img/projectone/C1.jpg" target="_blank">北拉斯維加斯市中心</a>
                </h3>
                <p>北拉斯維加斯市政中心為結合居民一切所須的金三角地段有法院,圖書館,市政府,
警局,醫院,電力公司等政商機能辦公地點。.</p>
            </div>
            <div class="col-md-3 img-portfolio">
                <a href="img/projectone/C2.jpg" target="_blank">
                    <img class="img-responsive miniimg img-hover" src="img/projectone/C2.jpg" alt="">
                </a>
                <h3>
                    <a href="img/projectone/C2.jpg" target="_blank">北拉斯維加斯市</a>
                </h3>
                <p>北拉斯維加斯市將開發建設醫療器材及醫療服務專業園區，並爭取 UNLV 在北拉斯維
加斯市建立醫學院分校，</p>
            </div>
            <div class="col-md-3 img-portfolio">
                <a href="img/projectone/C3.jpg" target="_blank">
                    <img class="img-responsive miniimg img-hover" src="img/projectone/C3.jpg" alt="">
                </a>
                <h3>
                    <a href="img/projectone/C3.jpg" target="_blank">APEX 工業園區基礎設施政府項目 </a>
                </h3>
                <p>北拉斯維加斯市政府開發 APEX 工業園區，計畫現有 2 萬英畝土地面積上建立基礎
設施</p>
            </div>
            <div class="col-md-3 img-portfolio">
                <a href="img/projectone/C4.jpg" target="_blank">
                    <img class="img-responsive miniimg img-hover" src="img/projectone/C4.jpg" alt="">
                </a>
                <h3>
                    <a href="img/projectone/C4.jpg" target="_blank">北拉斯維加斯市貿易村 35 英畝多項開發案</a>
                </h3>
                <p>北拉斯維加斯市一項高達一億美元的維加斯貿易村（Vegas Trade Village）開發
案，即將開工，未來將提供外國製造商一個生活居住及展示商品的空間。 </p>
            </div>
        </div>
        <!-- /.row -->
        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-3 img-portfolio">
                <a href="img/projectone/D.jpg" target="_blank">
                    <img class="img-responsive miniimg img-hover" src="img/projectone/D.jpg" alt="">
                </a>
                <h3>
                    <a href="img/projectone/D.jpg" target="_blank">D-運動健康康复中心</a>
                </h3>
                <p>運動醫療康復中心項目將會是一個“健康中心”，主要面向醫療康復類商戶。
 其他店面將用於開設中西醫診所。</p>
            </div>
            <div class="col-md-3 img-portfolio">
                <a href="img/projectone/E1.jpg" target="_blank">
                    <img class="img-responsive miniimg img-hover" src="img/projectone/E1.jpg" alt="">
                </a>
                <h3>
                    <a href="img/projectone/E1.jpg" target="_blank">內華達州立大學旁建設案(A)師生宿舍公寓</a>
                </h3>
                <p>Nevada State College，地大 300 acers 英畝(2023500 平方米)，將有 25,000 個 學生，目標成為 Nevada 最大的大學。</p>
            </div>
            <div class="col-md-3 img-portfolio">
                <a href="img/projectone/E2.jpg" target="_blank">
                    <img class="img-responsive miniimg img-hover" src="img/projectone/E2.jpg" alt=""> 
                </a>
                <h3>
                    <a href="img/projectone/E2.jpg" target="_blank">內華達州立大學旁建設案(B)周邊生活零售商圈 </a>
                </h3>
                <p>Nevada State College，地大 300 acers 英畝(2023500 平方米)，將有 25,000 個 學生，目標成為 Nevada 最大的大學。 </p>
            </div>
            <div class="col-md-3 img-portfolio">
                <a href="img/projectone/E3.jpg" target="_blank">
                    <img class="img-responsive miniimg img-hover" src="img/projectone/E3.jpg" alt="">
                </a>
                <h3>
                    <a href="img/projectone/E3.jpg" target="_blank">內華達州立大學旁建設案(C)大學村校舍</a>
                </h3>
                <p>Nevada State College，地大 300 acers 英畝(2023500 平方米)，將有 25,000 個 學生，目標成為 Nevada 最大的大學。 </p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-3 img-portfolio">
                <a href="img/projectone/E4.jpg" target="_blank">
                    <img class="img-responsive miniimg img-hover" src="img/projectone/E4.jpg" alt="">
                </a>
                <h3>
                    <a href="img/projectone/E4.jpg" target="_blank">內華達州立大學旁建設案(D)醫護實習大樓</a>
                </h3>
                <p>Nevada State College，地大 300 acers 英畝(2023500 平方米)，將有 25,000 個 學生，目標成為 Nevada 最大的大學。 </p>
            </div>
            <div class="col-md-3 img-portfolio">
                <a href="img/projectone/E5.jpg" target="_blank">
                    <img class="img-responsive miniimg img-hover" src="img/projectone/E5.jpg" alt="">
                </a>
                <h3>
                    <a href="img/projectone/E5.jpg" target="_blank">內華達州立大學旁建設案（E）國際交換學生中心</a>
                </h3>
                <p>Nevada State College，地大 300 acers 英畝(2023500 平方米)，將有 25,000 個 學生，目標成為 Nevada 最大的大學。 </p>
            </div>
            <div class="col-md-3 img-portfolio">
                <a href="img/projectone/E6.jpg" target="_blank">
                    <img class="img-responsive miniimg img-hover" src="img/projectone/E6.jpg" alt="">
                </a>
                <h3>
                    <a href="img/projectone/E6.jpg" target="_blank">韓德森市商辦住宅 </a>
                </h3>
                <p>樓下開店，家住樓上，後院是倉庫，為實業家量身訂做新興商辦住宅，不必再上
班通勤，隨時可以做生意，馬上可交貨，把握每次成功良機不再錯過。</p>
            </div>
            <div class="col-md-3 img-portfolio">
                <a href="img/projectone/E7.jpg" target="_blank">
                    <img class="img-responsive miniimg img-hover" src="img/projectone/E7.jpg" alt="">
                </a>
                <h3>
                    <a href="img/projectone/E7.jpg" target="_blank">韓德森市舊城區 WATER STREET DISTRICT </a>
                </h3>
                <p>重建局主導舊城區重建 - 可做土地投資與大樓建設</p>
            </div>
        </div>
        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-3 img-portfolio">
                <a href="img/projectone/E8.jpg" target="_blank">
                    <img class="img-responsive miniimg img-hover" src="img/projectone/E8.jpg" alt="">
                </a>
                <h3>
                    <a href="img/projectone/E8.jpg" target="_blank">韓德森市中國元素旅遊商展文化城</a>
                </h3>
                <p>打造獨特中國元素特色的商住生活機能齊全的文化城，儘管在拉斯維加斯卻能使中
國人有回到家的感覺，本建案可量身打造提供各地商會，同鄉會等海外經商洽辦的需要
的空間供單位認購或承租，選址暫定為韓德森市，</p>
            </div>
            <div class="col-md-3 img-portfolio">
                <a href="img/projectone/F.jpg"  target="_blank">
                    <img class="img-responsive miniimg img-hover" src="img/projectone/F.jpg" alt="">
                </a>
                <h3>
                    <a href="img/projectone/F.jpg" target="_blank">拉斯維加斯區域老人看護與醫療樓盤投資</a>
                </h3>
                <p>開發商計畫在韓德森市興建全美獨一無二的聯合醫療村（Union Village），該項
目全新的醫療集合體概念讓外界高度關注。</p>
            </div>
            <div class="col-md-3 img-portfolio">
                <a href="img/projectone/R1.jpg" target="_blank">
                    <img class="img-responsive miniimg img-hover" src="img/projectone/R1.jpg" alt="">
                </a>
                <h3>
                    <a href="img/projectone/R1.jpg" target="_blank">拉斯維加斯市區 - 商住綜合大樓</a>
                </h3>
                <p>市政府批准住商兩用項目, 可建造320戶公寓單位與20,400平方英呎營業面積</p>
            </div>
            <div class="col-md-3 img-portfolio">
                <a href="img/projectone/U1.jpg"  target="_blank">
                    <img class="img-responsive miniimg img-hover" src="img/projectone/U1.jpg" alt="">
                </a>
                <h3>
                    <a href="img/projectone/U1.jpg" target="_blank">韓德森市聯合醫療村</a>
                </h3>
                <p>開發商計畫在韓德森市興建全美獨一無二的聯合醫療村（Union Village），該項
目全新的醫療集合體概念讓外界高度關注。</p>
            </div>
        </div>

        <hr>

    </div>
