
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">拉斯維加斯區域政府項目專案
                    <small></small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 img-portfolio">
                <a href="img/projectone/E8-韓德森市中國旅遊商展文化城.pdf">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="img/projectone/E8-韓德森市中國旅遊商展文化城.pdf" target="_blank">韓德森市中國元素旅遊商展文化城</a>
                </h3>
                <p>打造獨特中國元素特色的商住生活機能齊全的文化城，儘管在拉斯維加斯卻能使中
國人有回到家的感覺，本建案可量身打造提供各地商會，同鄉會等海外經商洽辦的需要
的空間供單位認購或承租，選址暫定為韓德森市，</p>
            </div>
            <div class="col-md-6 img-portfolio">
                <a href="img/projectone/F-拉斯維加斯區域老人看護與醫療投資專案.pdf">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="img/projectone/F-拉斯維加斯區域老人看護與醫療投資專案.pdf" target="_blank">拉斯維加斯區域老人看護與醫療樓盤投資</a>
                </h3>
                <p>開發商計畫在韓德森市興建全美獨一無二的聯合醫療村（Union Village），該項
目全新的醫療集合體概念讓外界高度關注。</p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 img-portfolio">
                <a href="img/projectone/R1-拉斯維加斯市區住商綜合大樓.pdf">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="img/projectone/R1-拉斯維加斯市區住商綜合大樓.pdf" target="_blank">拉斯維加斯市區 - 商住綜合大樓</a>
                </h3>
                <p>市政府批准住商兩用項目, 可建造320戶公寓單位與20,400平方英呎營業面積</p>
            </div>
            <div class="col-md-6 img-portfolio">
                <a href="img/projectone/E3-內華達州立大學旁建設案(C)大學村校舍.pdf">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="img/projectone/E3-內華達州立大學旁建設案(C)大學村校舍.pdf" target="_blank">Coming Soon</a>
                </h3>
                <p></p>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="cnprojectone-page2">&laquo;</a>
                    </li>
                    <li>
                        <a href="cnprojectone">1</a>
                    </li>
                    <li>
                        <a href="cnprojectone-page2">2</a>
                    </li>
                    <li class="active">
                        <a href="cnprojectone-page3">3</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <hr>

    </div>
