
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">社區物業投資項目
                    <small></small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-3 img-portfolio">
                <a href="img/projectfour/A8.jpg" target="_blank" >
                    <img class="img-responsive miniimg img-hover" src="img/projectfour/A8.jpg" alt="">
                </a>
                <h3>
                    <a href="img/projectfour/A8-SW-apartment 拉斯維加斯西南區195單位社區出售.jpg" target="_blank" >拉斯維加斯西南區 195 單位社區出售</a>
                </h3>
                <p>One Bedroom 81 間 Two Bedroom 93 間 Three Bedroom 21 間, 車庫 31 座, POOL SPA, EXERCISE ROOM, 開車 3 分鐘可銜接 215 高速公路或到 Walmart 超市/商店/餐廳, 安全社區鐵門</p>
            </div>
            <div class="col-md-3 img-portfolio">
                <a href="img/projectfour/A11.jpg" target="_blank" >
                    <img class="img-responsive miniimg img-hover" src="img/projectfour/A11.jpg" alt="">
                </a>
                <h3>
                    <a href="img/projectfour/A11.jpg" target="_blank" >Summerlin 北側豪宅建案</a>
                </h3>
                <p>西北區人口成長最快最多，也是莊園豪宅需求集中的地區，本公司有推出建地可
分割成 2 戶超過 2 萬平方英呎占地的莊園豪宅建案，百畝馬術公園與休閒步道正對
面 ，215 高速出口，交通方便又有賭城夜景。</p>
            </div>
            <div class="col-md-3 img-portfolio">
                <a href="img/projectfour/A12.jpg" target="_blank" >
                    <img class="img-responsive miniimg img-hover" src="img/projectfour/A12.jpg" alt="">
                </a>
                <h3>
                    <a href="img/projectfour/A12.jpg" target="_blank" >康樂園 優選住宅區 </a>
                </h3>
                <p> 市區環城高速公路內環帶,對街有中學、棒球場、田徑場、網球場、巷口銜接市區高速
公路，路口有超市商圈，四通八達，方圓 2 英哩內沒有全新屋及 2000 年後屋齡房屋。</p>
            </div>
            <div class="col-md-3 img-portfolio">
                <a href="img/projectfour/A17.jpg" target="_blank" >
                    <img class="img-responsive miniimg img-hover" src="img/projectfour/A17.jpg" alt="">
                </a>
                <h3>
                    <a href="img/projectfour/A17.jpg" target="_blank" >拉斯維加斯市區北京四合院</a>
                </h3>
                <p>拉斯維加斯城中南區的高級住宅區內的 5 英畝地（約合中國的 30 市畝地）計劃
開發建造 10 棟北京四合院。所處位置開車 5 分鐘到維加斯主街大道，12 分鐘到中
國城，每棟四合院佔地面積 2 市畝，住房面積 400 平方米至 600 平方米。</p>
            </div>
        </div>
        <!-- /.row -->
        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-3 img-portfolio">
                <a href="img/projectfour/A18.jpg" target="_blank" >
                    <img class="img-responsive miniimg img-hover" src="img/projectfour/A18.jpg" alt="">
                </a>
                <h3>
                    <a href="img/projectfour/A18.jpg" target="_blank" >第一金控集團大型房產項目基金</a>
                </h3>
                <p> 第一金控集團持有數百棟拉斯維加斯住宅銀行法拍屋，由客戶出資參與抵押投資
並獲得高回報，投資案深受客戶歡迎。</p>
            </div>
            <div class="col-md-3 img-portfolio">
                <a href="img/projectfour/R6.jpg" target="_blank" >
                    <img class="img-responsive miniimg img-hover" src="img/projectfour/R6.jpg" alt=""> 
                </a>
                <h3>
                    <a href="img/projectfour/R6.jpg" target="_blank" >棕梠沙漠渡假村開發案</a>
                </h3>
                <p>占地4.97英畝，室內面積536,000 平方呎, 82-120客房預留19套給投資者使用, 59 住宅單位可以出售, 鄰近10號公路是洛杉磯與鳳凰城往返骨幹</p>
            </div>
        </div>
        <!-- /.row -->
        <hr>

    </div>
