
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">科技實業投資項目
                    <small></small>
                </h1> 
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-3 img-portfolio">
                <a href="img/projectseven/A3.jpg" target="_blank">
                    <img class="img-responsive miniimg img-hover" src="img/projectseven/a3.jpg" alt="">
                </a>
                <h3>
                    <a href="img/projectseven/A3.jpg" target="_blank">農耕水產共生智能農場投資案-Pahrump 150 英畝</a>
                </h3>
                <p>專利沙漠滴灌技術可以供給拉斯維加斯在地生產有機無毒害蔬果，蔬菜種植-以
專家觀點此類種植可以產生很多獲利。結合太陽能與風力發電系統，滴灌循環省水技
術生產無毒害純天然蔬菜魚蝦，未來最先進最大利潤的完美投資項目。</p>
            </div>
            <div class="col-md-3 img-portfolio">
                <a href="img/projectseven/A4.jpg" target="_blank">
                    <img class="img-responsive miniimg img-hover" src="img/projectseven/a4.jpg" alt="">
                </a>
                <h3>
                    <a href="img/projectseven/A4.jpg" target="_blank">農耕水產共生智能農場投資案-Mesquite 6 英畝</a>
                </h3>
                <p>結合太陽能與風力發電系統,滴灌循環省水技術生產無毒害純天然蔬菜，未來最先
進最大利潤的完美投資項目，生產項目為馬鈴薯土豆與調味椒，與食品公司定價採購
保證價格。 
</p>
            </div>

            <div class="col-md-3 img-portfolio">
                <a href="img/projectseven/A5.jpg" target="_blank">
                    <img class="img-responsive miniimg img-hover" src="img/projectseven/a5.jpg" alt="">
                </a>
                <h3>
                    <a href="img/projectseven/A5.jpg" target="_blank">農耕水產共生智能農場投資案-Mesquite 30 英畝</a>
                </h3>
                <p>獨家機會在投資未來智能農場，專利沙漠滴灌技術可以供給，拉斯維加斯在地生
產有機無毒害蔬果、蔬菜種植-以專家觀點此類種植可以產生很多獲利。</p>
            </div>
        </div>
        <!-- /.row -->

        <hr>

    </div>
