
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">商業投資項目
                    <small></small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-3 img-portfolio">
                <a href="img/projecttwo/A1.jpg" target="_blank">
                    <img class="img-responsive miniimg img-hover" src="img/projecttwo/A1.jpg" alt="">
                </a>
                <h3>
                    <a href="img/projecttwo/A1.jpg" target="_blank">拉斯維加斯中國城新住商大樓開發案 </a>
                </h3>
                <p>運動醫療康復中心項目將會是一個“健康中心”，主要面向醫療康復類商戶。
 其他店面將用於開設中西醫診所。</p>
            </div>
            <div class="col-md-3 img-portfolio">
                <a href="img/projecttwo/A2.jpg" target="_blank">
                    <img class="img-responsive miniimg img-hover" src="img/projecttwo/A2.jpg" alt="">
                </a>
                <h3>
                    <a href="img/projecttwo/A2.jpg" target="_blank">中國城 5925 Spring Mountain 商務中心建案</a>
                </h3>
                <p>中國城春山路上龐大車流,鄰近 168 頂好超市商圈，並為定居華人生活中心，土地旁有麥當勞餐廳，現已規劃新商辦大樓圖紙，地主有意提供土地合建。</p>
            </div>
            <div class="col-md-3 img-portfolio">
                <a href="img/projecttwo/A16.jpg" target="_blank">
                    <img class="img-responsive miniimg img-hover" src="img/projecttwo/A16.jpg" alt="">
                </a>
                <h3>
                    <a href="img/projecttwo/A16.jpg" target="_blank">辦公樓盤與工廠物業投資</a>
                </h3>
                <p>5棟工商樓盤出售, 機場旁, 2009年建造, 每棟接有出入管制鐵門, 全新完工，依照政府部門租用條件建造，適合出租給公家機關</p>
            </div>
            <div class="col-md-3 img-portfolio">
                <a href="img/projecttwo/A7.jpg" target="_blank">
                    <img class="img-responsive miniimg img-hover" src="img/projecttwo/A7.jpg" alt="">
                </a>
                <h3>
                    <a href="img/projecttwo/A7.jpg" target="_blank">拉斯維加斯大道酒店開發案</a>
                </h3>
                <p>2017 年推出 250 間客房酒店計劃，包括餐廳區，加油站 12 支油槍，便利商店與
洗車中心。 </p>
            </div>
        </div>
        <!-- /.row -->


        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-3 img-portfolio">
                <a href="img/projecttwo/A10.jpg" target="_blank">
                    <img class="img-responsive miniimg img-hover" src="img/projecttwo/A10.jpg" alt="">
                </a>
                <h3>
                    <a href="img/projecttwo/A10.jpg" target="_blank">Boulder Tower 巨石商務酒店賭場大樓預定地</a>
                </h3>
                <p>拉斯維加斯剩餘不多的可建高層建築的土地，目前限制高度 100 英尺，土地面積
6.7 英畝，是 H-1 土地屬性的商業土地。 </p>
            </div>
            <div class="col-md-3 img-portfolio">
                <a href="img/projecttwo/A16.jpg" target="_blank">
                    <img class="img-responsive miniimg img-hover" src="img/projecttwo/A16.jpg" alt="">
                </a>
                <h3>
                    <a href="img/projecttwo/A16.jpg" target="_blank">賭城地王之王 </a>
                </h3>
                <p>黃金地段，坐擁拉斯維加斯大道與 15 號高速交口旁三面環路，直達機場，OUTLET
CENTER，洛杉磯，可興建賭場酒店，高樓豪華公寓，體育館，球場，全新會展中心， 
主題樂園，水上樂園，購物中心等；</p>
            </div>
            <div class="col-md-3 img-portfolio">
                <a href="img/projecttwo/G1.jpg" target="_blank">
                    <img class="img-responsive miniimg img-hover" src="img/projecttwo/G1.jpg" alt="">
                </a>
                <h3>
                    <a href="img/projecttwo/G1.jpg" target="_blank">拉斯維加斯舊城區旅館重建</a>
                </h3>
                <p>這項市中心專案，目標和宗旨是幫助拉斯維加斯市中心的地方開啓創業活力和
創造力、創新、向上流動，記取經驗，共同學習。許多小企業和高 科技公司，是共
同業主與創辦這些公司的企業家。</p>
            </div>
            <div class="col-md-3 img-portfolio">
                <a href="img/projecttwo/R2.jpg" target="_blank">
                    <img class="img-responsive miniimg img-hover" src="img/projecttwo/R2.jpg" alt="">
                </a>
                <h3>
                    <a href="img/projecttwo/R2.jpg" target="_blank">韓德森市旺區商業</a>
                </h3>
                <p>商鋪其中一部分有政府部門租用作為克拉克縣家庭福利局使用面積14,985平
方英呎，每年收到租金$314,685，空置面積23,2005平方英呎可對外出租。 </p>
            </div>
        </div>
        <!-- /.row -->
        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-3 img-portfolio">
                <a href="img/projecttwo/G2.jpg" target="_blank">
                    <img class="img-responsive miniimg img-hover" src="img/projecttwo/G2.jpg" alt="">
                </a>
                <h3>
                    <a href="img/projecttwo/G2.jpg" target="_blank">拉斯維加斯市中心Zappos捷步品牌酒店建案 </a>
                </h3>
                <p>200間客房世界頂級服務酒店建設案，市中心振興專案（Downtown Project）
已擁有多棟酒店改造經營成功的實例，為Zappos Hotel 的最終目標打下基礎，提
供與眾不同尊貴奢華的酒店給特定政商名流人士入住。</p>
            </div>
            <div class="col-md-3 img-portfolio">
                <a href="img/projecttwo/G3.jpg" target="_blank">
                    <img class="img-responsive miniimg img-hover" src="img/projecttwo/G3.jpg" alt="">
                </a>
                <h3>
                    <a href="img/projecttwo/G3.jpg" target="_blank">拉斯維加斯市中心前Zydeco餐廳改建案</a>
                </h3>
                <p>拉斯維加斯市中心之心的位置上可以開設創新餐廳或是其他經營項目</p>
            </div>
            <div class="col-md-3 img-portfolio">
                <a href="img/projecttwo/G5.jpg" target="_blank">
                    <img class="img-responsive miniimg img-hover" src="img/projecttwo/G5.jpg" alt="">
                </a>
                <h3>
                    <a href="img/projecttwo/G5.jpg" target="_blank">拉斯維加斯市中心創新醫療診所</a>
                </h3>
                <p>拉斯維加斯已發展成退休定居的熱門城市，市中心的一項吸引人的特點就是食
衣住行都可以走路到達，唯獨醫療資源仍需要加強，創新醫療診所可接受城中居民
的病人，藉由科技可以做到遠距診療，或是提供專業醫療或是老人看護。</p>
            </div>
            <div class="col-md-3 img-portfolio">
                <a href="img/projecttwo/G6.jpg" target="_blank">
                    <img class="img-responsive miniimg img-hover" src="img/projecttwo/G6.jpg" alt="">
                </a>
                <h3>
                    <a href="img/projecttwo/G6.jpg" target="_blank">拉斯維加斯市中心私立九橋學校</a>
                </h3>
                <p>拉斯維加斯市中心，經市中心振興專案（Downtown Project）推動下已蓬勃
發展，在市中心居住與工作的人數呈倍數成長，除正規學校外，缺乏其他的教育機
構，市中心振興專案（Downtown Project）不但改善經濟也將教育視為重點發展，
本案與私立九橋學校合作將推動設立：學齡前兒童啟發學習中心，更新軟硬體並引
進多元化教學。 </p>
            </div>
        </div>
        <!-- /.row -->


        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-3 img-portfolio">
                <a href="img/projecttwo/R2.jpg" target="_blank">
                    <img class="img-responsive miniimg img-hover" src="img/projecttwo/R2.jpg" alt="">
                </a>
                <h3>
                    <a href="img/projecttwo/R2.jpg" target="_blank">韓德森市旺區商業</a>
                </h3>
                <p>商鋪其中一部分有政府部門租用作為克拉克縣家庭福利局使用面積14,985平
方英呎，每年收到租金$314,685，空置面積23,2005平方英呎可對外出租。 </p>
            </div>
            <div class="col-md-3 img-portfolio">
                <a href="img/projecttwo/R3.jpg" target="_blank">
                    <img class="img-responsive miniimg img-hover" src="img/projecttwo/R3.jpg" alt="">
                </a>
                <h3>
                    <a href="img/projecttwo/R3.jpg" target="_blank">拉斯維加斯大學城C級商用樓出售</a>
                </h3>
                <p>15棟商用樓-占地8英畝，室內面積101,311平方英呎, 採用LED照明，翻新省水設備，屋頂狀況良好，已有商家租用。 </p>
            </div>
        </div>
        <!-- /.row -->

        <!-- /.row -->

        <hr>

    </div>
