
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">拉斯維加斯中心湖畔豪園
                    <small></small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-3 img-portfolio">
                <a href="img/projectfive/25.jpg" target="_blank">
                    <img class="img-responsive miniimg img-hover" src="img/projectfive/25.jpg" alt="">
                </a>
                <h3>
                    <a href="img/projectfive/25.jpg" target="_blank">拉斯維加斯中心湖畔 - 城堡花園</a>
                </h3>
                <p>距離城中大街只有10分鐘車程</p>
            </div>
            <div class="col-md-3 img-portfolio">
                <a href="img/projectfive/26.jpg" target="_blank">
                    <img class="img-responsive miniimg img-hover" src="img/projectfive/26.jpg" alt="">
                </a>
                <h3>
                    <a href="img/projectfive/26.jpg" target="_blank">拉斯維加斯中心湖畔 – 歐式花園</a>
                </h3>
                <p>距離城中大街只有10分鐘車程</p>
            </div>
            <div class="col-md-3 img-portfolio">
                <a href="img/projectfive/27.jpg" target="_blank">
                    <img class="img-responsive miniimg img-hover" src="img/projectfive/27.jpg" alt="">
                </a>
                <h3>
                    <a href="img/projectfive/27.jpg" target="_blank">拉斯維加斯中心湖畔 – 金堡花園</a>
                </h3>
                <p>距離城中大街只有10分鐘車程</p>
            </div>
            <div class="col-md-3 img-portfolio">
                <a href="img/projectfive/28.jpg" target="_blank">
                    <img class="img-responsive miniimg img-hover" src="img/projectfive/28.jpg" alt="">
                </a>
                <h3>
                    <a href="img/projectfive/28.jpg" target="_blank">拉斯維加斯中心湖畔 – 豪景花園</a>
                </h3>
                <p>距離城中大街只有10分鐘車程</p>
            </div>
        </div>
        <!-- /.row -->
        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-3 img-portfolio">
                <a href="img/projectfive/29.jpg" target="_blank">
                    <img class="img-responsive miniimg img-hover" src="img/projectfive/29.jpg" alt="">
                </a>
                <h3>
                    <a href="img/projectfive/29.jpg" target="_blank">拉斯維加斯中心湖畔 – 嘉福花園</a>
                </h3>
                <p>距離城中大街只有10分鐘車程</p>
            </div>
            <div class="col-md-3 img-portfolio">
                <a href="img/projectfive/30.jpg" target="_blank">
                    <img class="img-responsive miniimg img-hover" src="img/projectfive/30.jpg" alt="">
                </a>
                <h3>
                    <a href="img/projectfive/30.jpg" target="_blank">拉斯維加斯中心湖畔 – 柏龍花園</a>
                </h3>
                <p>距離城中大街只有10分鐘車程</p>
            </div>
            <div class="col-md-3 img-portfolio">
                <a href="img/projectfive/31.jpg" target="_blank">
                    <img class="img-responsive miniimg img-hover" src="img/projectfive/31.jpg" alt="">
                </a>
                <h3>
                    <a href="img/projectfive/31.jpg" target="_blank">拉斯維加斯中心湖畔 – 雅廳花園</a>
                </h3>
                <p>距離城中大街只有10分鐘車程</p>
            </div>
        </div>
        <!-- Projects Row -->

        <hr>

    </div>
