
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">商業出售項目
                    <small></small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 img-portfolio">
                <a href="img/projectthree/A6-FU-LLC2016地下管線合約包商建設公司出售.pdf">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="img/projectthree/A6-FU-LLC2016地下管線合約包商建設公司出售.pdf">地下管線合約包商建設公司出售</a>
                </h3>
                <p>此公司專門承接大型地下化工程項目，創業至今將近 10 年。營收主要來自下水
道管線鋪設,排洪水道，地下電力線路等。公司客戶多為私人企業、住宅營造商、商業
樓盤建築商。</p>
            </div>
            <div class="col-md-6 img-portfolio">
                <a href="img/projectthree/A9-新創素食美式漢堡連鎖店.pdf">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="img/projectthree/A9-新創素食美式漢堡連鎖店.pdf">新創素食美式漢堡連鎖店</a>
                </h3>
                <p>新創素食美式漢堡連鎖店，已在拉斯維加斯成功開了三家店，生意興旺，極具發
展潛力，面向全美國，最終目標成為在美上市公司。</p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 img-portfolio">
                <a href="img/projectthree/R3-拉斯維加斯大學城C級商用樓出售.pdf">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="img/projectthree/R3-拉斯維加斯大學城C級商用樓出售.pdf">拉斯維加斯大學城C級商用樓出售</a>
                </h3>
                <p> 15棟商用樓-占地8英畝，室內面積101,311平方英呎, 採用LED照明，翻新省水設備，屋頂狀況良好，已有商家租用。可分開出售</p>
            </div>
            <div class="col-md-6 img-portfolio">
                <a href="img/projectthree/R4-辦公樓盤與工廠物業投資.pdf.pdf">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    <a href="img/projectthree/R4-辦公樓盤與工廠物業投資.pdf.pdf">辦公樓盤與工廠物業投資</a>
                </h3>
                <p>5棟工商樓盤出售, 機場旁, 2009年建造, 每棟接有出入管制鐵門, 全新完工，依照政府部門租用條件建造，適合出租給公家機關</p>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <hr>

    </div>
